*.ist 
*~ 
*.aux 
*.log 
*.dvi 
*.ps 
*.bbl 
*.blg 
*.out 
*.glsdefs 
*.snm 
*.mw 
*.toc 
*.nav 
*.idx 
*.ilg 
*.ind 
*.loq 
*.los 
*.lot 
*.lof 
*.lol 
*.loa 
*.glo 
*.brf 
*.out 
*.nls 
*.nlo
*.synctex.gz
main.pdf

